user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    server {
        listen {{ nginx_port }};
        server_name {{ server_name }};

        location / {
            root {{ document_root }};
            index index.html index.htm;
        }
    }
}
